.Main-Container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: blanchedalmond;
}

.Logo-Container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0%;
    color: rgb(252, 151, 63);

}

.Logo-Container img {
    width: 100px;
    height: 100px;
}


.Title-Container {
    padding-left: 20px;
}

.Card-Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 20px;
}

.Introduction-Container {
    background-color: sandybrown;
    margin-left: 10px;


}